<div id="<%= dom_id combine %>">
  <p>
    <strong>Season:</strong>
    <%= combine.season %>
  </p>

  <p>
    <strong>Draft year:</strong>
    <%= combine.draft_year %>
  </p>

  <p>
    <strong>Draft team:</strong>
    <%= combine.draft_team %>
  </p>

  <p>
    <strong>Draft round:</strong>
    <%= combine.draft_round %>
  </p>

  <p>
    <strong>Draft ovr:</strong>
    <%= combine.draft_ovr %>
  </p>

  <p>
    <strong>Pfr:</strong>
    <%= combine.pfr_id %>
  </p>

  <p>
    <strong>Cfb:</strong>
    <%= combine.cfb_id %>
  </p>

  <p>
    <strong>Player name:</strong>
    <%= combine.player_name %>
  </p>

  <p>
    <strong>Pos:</strong>
    <%= combine.pos %>
  </p>

  <p>
    <strong>School:</strong>
    <%= combine.school %>
  </p>

  <p>
    <strong>Ht:</strong>
    <%= combine.ht %>
  </p>

  <p>
    <strong>Wt:</strong>
    <%= combine.wt %>
  </p>

  <p>
    <strong>Forty:</strong>
    <%= combine.forty %>
  </p>

  <p>
    <strong>Bench:</strong>
    <%= combine.bench %>
  </p>

  <p>
    <strong>Vertical:</strong>
    <%= combine.vertical %>
  </p>

  <p>
    <strong>Broad jump:</strong>
    <%= combine.broad_jump %>
  </p>

  <p>
    <strong>Cone:</strong>
    <%= combine.cone %>
  </p>

  <p>
    <strong>Shuttle:</strong>
    <%= combine.shuttle %>
  </p>

</div>
